.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, body {
  height: 100vh;
  width: 100vw
}

.home-page {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('/background2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.nav {
  position: absolute;
  background: white;
  opacity: 0.55;
  padding: 10px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-general {
  border-style: solid;
  border-color: #BCC4CC;
  opacity: 0.95;
  padding: 7%;
  margin-top: 1.7vh;
  margin-left: .6vw;
  width: 20vh;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.starting-menu {
  list-style: none;
  align-items: center;
  padding-left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.starting-menu a {
  margin: 15px;
  width: 100%;
  height: 50%;
  text-align: center
}

.modal-header {
  text-align: center;
}

.modal-extra-text {
  text-align: center;
}

.username-login-input {
  align-items: center;
  margin-left: 40%
}

.password-login-input {
  align-items: center;
  margin-left: 40%
}

.sign-up-page {
  background-image: url('/signup.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.sign-up-form {
  padding-left: 9%;
  padding-top: 5%;
  width: 45%;
  height: 100%;
}

.location-form {
  width: 50%;
}

.no-path {
  background-image: url('/noroute.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

a {
  color: black;
}

.profile-card {
  height: 38.4vh;
}

.profile-pic {
  height: 250px;
}

.technology-page {
  background-image: url('/technology.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.community-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.cp-left-main-container {
  width: 180vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cp-right-main-container {
  width: 25vw;
  height: 100vh;
  flex: initial;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.cp-search-container {
  height: 6vh;
  padding: .5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.95;
  border-bottom:solid #BCC4CC 4px;
}

.cp-body-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 3.5vh;
  justify-content: space-between;
}

.user-preview-card {
  width: 20.5vw !important;
  height: 33vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
}

.left-half {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0
}

.left-half img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%
}

.right-half {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.preview-card-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.pc-photo-container {
  width: 100%;
  height: 82%;
}

.pc-user-info {
  width: 100%;
  height: 32%;
  border-style: solid;
  border-color: #BCC4CC;
}

.pc-user-info-2 {
  position: absolute;
  right: 0; bottom: 0;
  width: 13.8vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
}

.pc-user-name {
  font-family: "Geneva";
  font-weight: bold;
  font-size: 1.4em;
  padding-top: 5%;
}

.pc-profile-btn {
  padding-left: 30%;
  padding-top: 4%;
}

.pc-insta-btn {
  padding-top: 4%;
  padding-left: 3%;
}

.preview-card-profile-pic {
  margin-left: 6%;
  margin-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1
}

.user-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.up-left-main-container {
  width: 180vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.up-right-main-container {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.up-user-info-container {
  height: 40vh;
  width: 15vw;
  border-style: solid;
  border-color: #BCC4CC;
  padding-top: 2%;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: .8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 1.5%;
}

.up-user-portfolio-container {
  border-style: solid;
  border-color: #BCC4CC;
  width: 69.1vw;
  margin: 1%;
  height: 100%;
  padding: 1%;
}

.title {
  font-family: "Geneva";
  font-weight: bold;
  font-size: 13em;
  color: white;
  bottom: 0px;
  padding-bottom: 40vh;
  position: absolute;
  z-index: 1;
  letter-spacing: 12px;
}

.portfolio-text {
  font-family: "Geneva";
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: -1px;
  padding-left: .3%;
}

.user-name {
  font-family: "Geneva";
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 6%;
}

.location-text {
  position: absolute;
  font-family: "Geneva";
  font-size: 1em;
  padding-top: 22.3vh;
  color: #989898;
}

.top-portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.insta_button {
  padding-top: 18%;
}

#btnOpenFileDialog {
  display:none;
}

.user-skills {
  content: "\A";
  white-space: pre;
}




/* .starting-menu p:hover {
  background-color: #FFFAF0;
  color: black;
  opacity: 0.20;
} */
