.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, body {
  height: 100vh;
  width: 100vw
}

.home-page {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('/homepage.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.nav {
  position: absolute;
  background: #eee;
  opacity: 0.95;
  padding: 10px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-general {
  position: absolute;
  background: #eee;
  opacity: 0.95;
  padding: 15px;
  margin-top: 1.7vh;
  margin-left: .9vw;
  width: 20vh;
  height: 96.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.starting-menu {
  list-style: none;
  align-items: center;
  padding-left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.starting-menu a {
  margin: 15px;
  width: 100%;
  height: 50%;
  text-align: center
}

.modal-header {
  text-align: center;
}

.modal-extra-text {
  text-align: center;
}

.username-login-input {
  align-items: center;
  margin-left: 40%
}

.password-login-input {
  align-items: center;
  margin-left: 40%
}

.sign-up-page {
  background-image: url('/signup.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.sign-up-form {
  padding-left: 9%;
  padding-top: 5%;
  width: 45%;
  height: 150%;
}

.location-form {
  width: 50%;
}

.no-path {
  background-image: url('/noroute.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

a {
  color: black;
}

.profile-card {
  height: 38.4vh;
}

.profile-pic {
  height: 250px;
}

.technology-page {
  background-image: url('/technology.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.community-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.cp-left-main-container {
  border-style: solid;
  border-color: red;
  width: 180vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cp-right-main-container {
  width: 25vw;
  height: 100vh;
  flex: initial;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.cp-search-container {
  height: 6vh;
  /* margin-top: .5%;
  margin-bottom: .5%;
  margin-left: .4%; */
  padding: .5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.95;
}

.cp-body-container {
  border-style: solid;
  border-color: green;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 3.5vh;
  justify-content: space-between;
}

.user-preview-card {
  width: 20.5vw !important;
  height: 33vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
}

.left-half {
  background-image: url('/preview4.jpg');
  width: 50%;
  position: absolute;
  left: 0px;
  height: 75%;
  background-size: contain;
  background-repeat: no-repeat;
}

.right-half {
  background-image: url('/preview5.jpg');
  width: 50%;
  position: absolute;
  right: 0px;
  height: 75%;
  background-size: contain;
  background-repeat: no-repeat;
}

.community-count {
  margin-right: 2%;
  font-family: "Geneva";
  font-weight: bold;
  font-size: 3em;
}

.preview-card-container {
  margin-top: 3vh;
}

.pc-photo-container {
  width: 100%;
  height: 75%;
}

.pc-user-info {
  border-style: solid;
  border-color: green;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 18%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  margin-top: 6%;
  justify-content: space-between;
}

.user-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.up-left-main-container {
  border-style: solid;
  border-color: red;
  width: 180vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.up-right-main-container {
  border-style: solid;
  border-color: green;
  width: 25vw;
  height: 100vh;
  flex: initial;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.up-user-info-container {
  height: 30vh;
  border-style: solid;
  border-color: green;
}

.up-user-portfolio-container {
  height: 100%;
  border-style: solid;
  border-color: blue;
  padding: 1%;
}




/* .starting-menu p:hover {
  background-color: #FFFAF0;
  color: black;
  opacity: 0.20;
} */
