.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('/homepage.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.nav {
  position: absolute;
  background: #eee;
  opacity: 0.95;
  padding: 10px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-general {
  position: absolute;
  background: #eee;
  opacity: 0.95;
  padding: 15px;
  margin-right: 10px;
  width: 89%;
  height: 161.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.starting-menu {
  list-style: none;
  align-items: center;
  padding-left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.starting-menu a {
  margin: 15px;
  width: 100%;
  height: 50%;
  text-align: center
}

.modal-header {
  text-align: center;
}

.modal-extra-text {
  text-align: center;
}

.username-login-input {
  align-items: center;
  margin-left: 40%
}

.password-login-input {
  align-items: center;
  margin-left: 40%
}

.sign-up-page {
  background-image: url('/signup.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.sign-up-form {
  padding-left: 9%;
  padding-top: 5%;
  width: 45%;
  height: 150%;
}

.location-form {
  width: 50%;
}

.no-path {
  background-image: url('/noroute.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

a {
  color: black;
}

.profile-card {
  height: 38.4vh;
}

.profile-pic {
  height: 250px;
}

.technology-page {
  background-image: url('/technology.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}



/* .starting-menu p:hover {
  background-color: #FFFAF0;
  color: black;
  opacity: 0.20;
} */
